/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/bootstrap/cache
/*/*/source/_tmp
/vendor
/report
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/docs/*
!public/docs/source/
public/docs/source/*
!public/docs/source/index.md
!public/docs/collection.json
.phpunit.result.cache